@font-face {
    font-family: "Mona Sans";
    src: url("/fonts/mona-sans/Mona-Sans-Regular.woff2");
}
@font-face {
    font-family: "Mona Sans";
    src: url("/fonts/mona-sans/Mona-Sans-Bold.woff2");
    font-weight: bold;
}

* {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Mona Sans";
}