@use "../mixins.scss" as m;

.header-container {
    @include m.box(100%, 50px);
    @include m.flex-center;
    position: fixed;
    background-color: lightgrey;
}
.header-title {
    font-weight: bold;
    height: min;
}
.user-status {
    position: absolute;
    right: 10px;
}